body {
    background-color:rgb(215, 202, 181);
    color: white;
}

nav {
    color: white;
    background-color: cadetblue;
    padding: 10px 10px 10px 0
}

nav span {
    padding-left: 10px;
}

a {
    margin-left: 10px;
    color: white;
    font-weight: 100;
}

a:hover {
    color: black;
}

h2  {
    margin-left: 10px; 
}

button {
    background-color: cadetblue;
    /* border-style: double; */
    border: double white 5px;
    color: white;
}

button:hover {
    color: black;
    border: double black 5px;

}